<h1>@ViewBag.title</h1>

<div class="container body-content">
    @if (ViewBag.jobs != null)
    {

        <h3>@ViewBag.jobs.Count Result(s)</h3>

        // TODO #2 - Loop over jobs dictionary and display all job fields
        @foreach (Dictionary<string, string> job in ViewBag.jobs)
        {
            <table class="job-listing">
                @foreach (KeyValuePair<string, string> kv in job)
                {
                    <tr>
                        <td>@ViewBag.fields[kv.Key]</td>
                        <td>
                            @if (ViewBag.columns.ContainsKey(kv.Key))
                            {
                                <a asp-controller="List"
                                   asp-action="Jobs"
                                   asp-route-column="@kv.Key"
                                   asp-route-value="@kv.Value">
                                    @kv.Value
                                </a>
                            }
                            else
                            {
                                @kv.Value
                            }
                        </td>
                    </tr>
                }            </table>
        }
    }
</div>